[submodule "custom_order_resampler/WESTPA"]
	path = custom_order_resampler/WESTPA
	url = https://github.com/jeremyleung521/westpa
	branch = custom_order_resampler
[submodule "lpath"]
	path = lpath
	url = https://github.com/jeremyleung521/lpath
